# CAPIv2 environment settings

# ----------------- #
## Setting toggles ##
# ----------------- #

# Allows you to disable blacklist checks
BLACKLIST_CLIENT = false
BLACKLIST_CMDR = false

# ------------ #
## JWT Secret ##
# ------------ #

JWT_SECRET="Some random Secret Key here"

# ---------- #
## Database ##
# ---------- #

### User DB (Dev, Stag, and Prod)
DATABASE_HOST_USER="127.0.0.1"
DATABASE_PORT_USER=3306
DATABASE_NAME_USER="capiv2_user_example"
DATABASE_USERNAME_USER="capiv2system"
DATABASE_PASSWORD_USER="capiv2password"

### Development
DATABASE_HOST_DEV="127.0.0.1"
DATABASE_PORT_DEV=3306
DATABASE_NAME_DEV="capiv2_development"
DATABASE_USERNAME_DEV="capiv2system"
DATABASE_PASSWORD_DEV="capiv2password"

### Staging
DATABASE_HOST_STAG="127.0.0.1"
DATABASE_PORT_STAG=3306
DATABASE_NAME_STAG="capiv2_staging"
DATABASE_USERNAME_STAG="capiv2system"
DATABASE_PASSWORD_STAG="capiv2password"

### Production
DATABASE_HOST_PROD="127.0.0.1"
DATABASE_PORT_PROD=3306
DATABASE_NAME_PROD="capiv2_production"
DATABASE_USERNAME_PROD="capiv2system"
DATABASE_PASSWORD_PROD="capiv2password"

# ---------- #
## Webhooks ##
# ---------- #

### Alert
CHANNEL_RD="Some Discord Webhook URL Here"
