sudo: required
dist: xenial
language: node_js
node_js:
  - '10'
  #- '12'
services:
  - mysql
addons:
  mariadb: '10.3'
  apt:
    packages:
      - software-properties-common
      - build-essential

install:
  - cp tests/.env.travis .env
  - mysql -u root --password="" -e "CREATE DATABASE canonntest_data"
  - mysql -u root --password="" -e "CREATE DATABASE canonntest_user"
  - mysql -u root --password="" -e "CREATE USER 'canonnuser'@'localhost' IDENTIFIED BY 'canonnpassword'"
  - mysql -u root --password="" -e "GRANT ALL PRIVILEGES ON * . * TO 'canonnuser'@'localhost'"
  - mysql -u root --password="" canonntest_data < seed_files/SQL/base-development-*.sql
  - mysql -u root --password="" canonntest_user < tests/example-users-*.sql
  - npm install -g newman
  - npm install -g pm2
  - npm install -g yarn
  - yarn install

script:
  - yarn build
  - NODE_ENV=development pm2 start --name="capiv2" server.js
  - sleep 10
  - newman run 'tests/capiv2.postman_collection.json' -e tests/capiv2.postman_environment.json

after_success:
  - pm2 stop capiv2

after_failure:
  - pm2 stop capiv2
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh failure $WEBHOOK_URL
  - cat ~/.pm2/logs/*error*
