# A Swagger 3.0.0 (a.k.a. OpenAPI) definition of the Engine API.
#
# Some style notes:
# - This file is used by ReDoc, which allows GitHub Flavored Markdown in
#   descriptions.
# - There is no maximum line length, for ease of editing and pretty diffs.
# - operationIds are in the format "NounVerb", with a singular noun.

openapi: "3.0.0"

## Information
info:
  version: 2.0.7
  title: Canonn APIv2
  x-logo:
    url: "./canonn-logo.png"
  description: |
    An API for all the Science related information Canonn has in its datastores stored on the Gnosis, built using [Strapi](https://strapi.io) a Nodejs API framework.

    # Documentation
    We have two different documentation types

    * [Redocs](https://api.canonn.tech)
    * [Swagger-UI](https://api.canonn.tech/swaggerui)

    # Servers

    We also have 3 API servers; Live (Production), Beta (Staging), Alpha (Development). You should use the Beta server for testing your application prior to using the Live server. The Alpha server is used by Canonn to test our changes prior to releasing a new version.

    Data between the Live and Beta servers are replicated as needed, eventually we plan to dynamically replicate the data every night at midnight Phoenix, Arizona USA time (MST-Arizona GMT-7)

    Server Name  | Server Type | Server URL | Server version
    ----------------|-------------|-------------|---------
    Live | Production | https://api.canonn.tech | v2.0.7
    Beta | Production | https://api.canonn.tech:2053 | v2.0.7
    Alpha | Production | https://api.canonn.tech:2083 | v2.0.7

    Thank you for your support, and thank you to all the CMDRs who supply us with our data!

  contact:
    name: Canonn R&D Team
    email: rd@canonn.technology
    url: https://canonn.science
  license:
    name: MIT
    url: https://github.com/canonn-science/CAPIv2-Strapi/blob/development/LICENSE

## Servers
servers:
  - url: https://api.canonn.tech:2053
    description: Beta Staging Server, should be used to test your application prior to deployment. Data is mirrored from Production every few hours.
  - url: https://api.canonn.tech
    description: Live Production Server, should be used if your application has been tested and deployed
  - url: https://api.canonn.tech:2083
    description: Alpha Development Server, used by Canonn to test development prior to updating Staging and Production. Data here is likely to be wrong or inaccurate.

## Paths
paths:

# Authentication
  /auth/local:
    post:
      tags:
        - Local Auth
      summary: Login to the Canonn APIv2 Server
      description: Using local authentication to login to the API, user must already be registered
      operationId: loginLocal
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/localCreds'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authLocal'
        '400':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'

# BM Report
  /bmreport/count:
    get:
      tags:
        - Bark Mound Reports
      summary: Get a count of all BM Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getBMReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /bmreport:
    get:
      tags:
        - Bark Mound Reports
      summary: Get a list of BM Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getBMReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of BM Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Bark Mound Reports
      summary: Post a new BM Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitBMReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportPlanet'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /bmreport/{id}:
    get:
      tags:
        - Bark Mound Reports
      summary: Get a Single BM Report
      description: Provide the ID to get a single report
      operationId: getBMReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the BM Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Bark Mound Reports
      summary: Update a BM Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateBMReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportPlanet'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Bark Mound Reports
      summary: Delete a BM Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeBMReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# BM Site
  /bmsite/count:
    get:
      tags:
        - Bark Mounds
      summary: Get a count of all BM Sites
      description: The API will respond with just a number, which is the total amount of sites on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getBMSitesCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /bmsite:
    get:
      tags:
        - Bark Mounds
      summary: Get a list of BM Sites
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getBMSites
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of BM Sites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Bark Mounds
      summary: Post a new BM Site
      description: To be used to add a new site to the Canonn database, these are sites verified by Canonn
      operationId: submitBMSite
      security:
        - canonnAuth: [siteWrite]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSitePlanet'
      responses:
        '200':
          description: Site post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /bmsite/{id}:
    get:
      tags:
        - Bark Mounds
      summary: Get a Single BM Site
      description: Provide the ID to get a single site
      operationId: getBMSiteById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the BM Site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Bark Mounds
      summary: Update a BM Site
      description: You do not need to send the entire site again, you can send only changed fields
      operationId: updateBMSiteById
      security:
        - canonnAuth: [siteWrite]
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSitePlanet'
      responses:
        '200':
          description: Site update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Bark Mounds
      summary: Delete a BM Site
      description: The response is just an empty JSON, deleting a site requires auth
      operationId: removeBMSiteById
      security:
        - canonnAuth: [siteDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# Body

# Body Atmosphere

# Body Material

# Body Subtype

# Body Type

# BT Report
  /btreport/count:
    get:
      tags:
        - Brain Tree Reports
      summary: Get a count of all BT Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getBTReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /btreport:
    get:
      tags:
        - Brain Tree Reports
      summary: Get a list of BT Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getBTReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of BT Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Brain Tree Reports
      summary: Post a new BT Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitBTReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportPlanet'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /btreport/{id}:
    get:
      tags:
        - Brain Tree Reports
      summary: Get a Single BT Report
      description: Provide the ID to get a single report
      operationId: getBTReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the BT Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Brain Tree Reports
      summary: Update a BT Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateBTReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportPlanet'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Brain Tree Reports
      summary: Delete a BT Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeBTReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# BT Site
  /btsite/count:
    get:
      tags:
        - Brain Trees
      summary: Get a count of all BT Sites
      description: The API will respond with just a number, which is the total amount of sites on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getBTSitesCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /btsite:
    get:
      tags:
        - Brain Trees
      summary: Get a list of BT Sites
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getBTSites
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of BT Sites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Brain Trees
      summary: Post a new BT Site
      description: To be used to add a new site to the Canonn database, these are sites verified by Canonn
      operationId: submitBTSite
      security:
        - canonnAuth: [siteWrite]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSitePlanet'
      responses:
        '200':
          description: Site post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /btsite/{id}:
    get:
      tags:
        - Brain Trees
      summary: Get a Single BT Site
      description: Provide the ID to get a single site
      operationId: getBTSiteById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the BT Site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Brain Trees
      summary: Update a BT Site
      description: You do not need to send the entire site again, you can send only changed fields
      operationId: updateBTSiteById
      security:
        - canonnAuth: [siteWrite]
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSitePlanet'
      responses:
        '200':
          description: Site update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Brain Trees
      summary: Delete a BT Site
      description: The response is just an empty JSON, deleting a site requires auth
      operationId: removeBTSiteById
      security:
        - canonnAuth: [siteDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# CMDR
  /cmdr/count:
    get:
      tags:
        - CMDRs
      summary: Get a count of all CMDRs
      description: The API will respond with just a number, which is the total amount of CMDRs on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getCMDRsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /cmdr:
    get:
      tags:
        - CMDRs
      summary: Get a list of CMDRs
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getCMDRs
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of CMDRs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCMDR'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - CMDRs
      summary: Post a new CMDR
      description: To be used to add new CMDRs to our list, updated from reports submitted to us
      operationId: submitCMDR
      security:
        - userAuth: [cmdrWrite]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postCMDR'
      responses:
        '200':
          description: CMDR post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCMDR'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /cmdr/{id}:
    get:
      tags:
        - CMDRs
      summary: Get a Single CMDR
      description: Provide the ID to get a single CMDR
      operationId: getCMDRById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the CMDR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCMDR'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - CMDRs
      summary: Update a CMDR
      description: Used to update the CMDR name
      operationId: updateCMDRById
      security:
        - userAuth: [cmdrWrite]
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putCMDR'
      responses:
        '200':
          description: CMDR update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCMDR'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - CMDRs
      summary: Delete a CMDR
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeCMDRById
      security:
        - canonnAuth: [cmdrDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# FG Report
  /fgreport/count:
    get:
      tags:
        - Fungal Gourd Reports
      summary: Get a count of all FG Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getFGReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /fgreport:
    get:
      tags:
        - Fungal Gourd Reports
      summary: Get a list of FG Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getFGReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of FG Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Fungal Gourd Reports
      summary: Post a new FG Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitFGReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportPlanet'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /fgreport/{id}:
    get:
      tags:
        - Fungal Gourd Reports
      summary: Get a Single FG Report
      description: Provide the ID to get a single report
      operationId: getFGReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the FG Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Fungal Gourd Reports
      summary: Update a FG Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateFGReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportPlanet'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Fungal Gourd Reports
      summary: Delete a FG Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeFGReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# FG Site
  /fgsite/count:
    get:
      tags:
        - Fungal Gourds
      summary: Get a count of all FG Sites
      description: The API will respond with just a number, which is the total amount of sites on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getFGSitesCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /fgsite:
    get:
      tags:
        - Fungal Gourds
      summary: Get a list of FG Sites
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getFGSites
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of FG Sites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Fungal Gourds
      summary: Post a new FG Site
      description: To be used to add a new site to the Canonn database, these are sites verified by Canonn
      operationId: submitFGSite
      security:
        - canonnAuth: [siteWrite]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSitePlanet'
      responses:
        '200':
          description: Site post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /fgsite/{id}:
    get:
      tags:
        - Fungal Gourds
      summary: Get a Single FG Site
      description: Provide the ID to get a single site
      operationId: getFGSiteById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the FG Site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Fungal Gourds
      summary: Update a FG Site
      description: You do not need to send the entire site again, you can send only changed fields
      operationId: updateFGSiteById
      security:
        - canonnAuth: [siteWrite]
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSitePlanet'
      responses:
        '200':
          description: Site update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Fungal Gourds
      summary: Delete a FG Site
      description: The response is just an empty JSON, deleting a site requires auth
      operationId: removeFGSiteById
      security:
        - canonnAuth: [siteDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# FM Report
  /fmreport/count:
    get:
      tags:
        - Fumarole Reports
      summary: Get a count of all FM Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getFMReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /fmreport:
    get:
      tags:
        - Fumarole Reports
      summary: Get a list of FM Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getFMReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of FM Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportFM'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Fumarole Reports
      summary: Post a new FM Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitFMReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportPlanetWithType'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportFM'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /fmreport/{id}:
    get:
      tags:
        - Fumarole Reports
      summary: Get a Single FM Report
      description: Provide the ID to get a single report
      operationId: getFMReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the FM Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportFM'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Fumarole Reports
      summary: Update a FM Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateFMReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportPlanetWithType'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportFM'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Fumarole Reports
      summary: Delete a FM Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeFMReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# FM Site

# FM Type

# GEN Report
  /genreport/count:
    get:
      tags:
        - Generation Ship Reports
      summary: Get a count of all GEN Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getGENReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /genreport:
    get:
      tags:
        - Generation Ship Reports
      summary: Get a list of GEN Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getGENReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of GEN Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGEN'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Generation Ship Reports
      summary: Post a new GEN Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitGENReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportGEN'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGEN'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /genreport/{id}:
    get:
      tags:
        - Generation Ship Reports
      summary: Get a Single GEN Report
      description: Provide the ID to get a single report
      operationId: getGENReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the GEN Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGEN'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Generation Ship Reports
      summary: Update a GEN Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateGENReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportGEN'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGEN'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Generation Ship Reports
      summary: Delete a GEN Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeGENReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# GEN Site

# GR Active Group

# GR Active Obelisk

# GR Artifact

# GR Codex Category

# GR Codex Data

# GR Obelisk

# GR Obelisk Group

# GR Obelisk Group Report
  /grobeliskgroupreport/count:
    get:
      tags:
        - Guardian Ruin Reports
      summary: Get a count of all GR Obelisk Group Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getGROGReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /grobeliskgroupreport:
    get:
      tags:
        - Guardian Ruin Reports
      summary: Get a list of GR Obelisk Group Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getGROGReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of GR Obelisk Group Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGRObeliskGroup'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Guardian Ruin Reports
      summary: Post a new GR Obelisk Group Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitGROGReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportGRObeliskGroup'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGRObeliskGroup'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /grobeliskgroupreport/{id}:
    get:
      tags:
        - Guardian Ruin Reports
      summary: Get a Single GR Obelisk Group Report
      description: Provide the ID to get a single report
      operationId: getGROGReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the GR Obelisk Group Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGRObeliskGroup'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Guardian Ruin Reports
      summary: Update a GR Obelisk Group Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateGROGReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportGRObeliskGroup'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGRObeliskGroup'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Guardian Ruin Reports
      summary: Delete a GR Obelisk Group Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeGROGReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# GR Obelisk Report
  /grobeliskreport/count:
    get:
      tags:
        - Guardian Ruin Reports
      summary: Get a count of all GR Obelisk Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getGROReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /grobeliskreport:
    get:
      tags:
        - Guardian Ruin Reports
      summary: Get a list of GR Obelisk Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getGROReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of GR Obelisk Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGRObelisk'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Guardian Ruin Reports
      summary: Post a new GR Obelisk Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitGROReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportGRObelisk'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGRObelisk'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /grobeliskreport/{id}:
    get:
      tags:
        - Guardian Ruin Reports
      summary: Get a Single GR Obelisk Report
      description: Provide the ID to get a single report
      operationId: getGROReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the GR Obelisk Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGRObelisk'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Guardian Ruin Reports
      summary: Update a GR Obelisk Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateGROReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportGRObelisk'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGRObelisk'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Guardian Ruin Reports
      summary: Delete a GR Obelisk Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeGROReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# GR Report
  /grreport/count:
    get:
      tags:
        - Guardian Ruin Reports
      summary: Get a count of all GR Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getGRReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /grreport:
    get:
      tags:
        - Guardian Ruin Reports
      summary: Get a list of GR Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getGRReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of GR Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGR'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Guardian Ruin Reports
      summary: Post a new GR Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitGRReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportGR'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGR'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /grreport/{id}:
    get:
      tags:
        - Guardian Ruin Reports
      summary: Get a Single GR Report
      description: Provide the ID to get a single report
      operationId: getGRReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the GR Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGR'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Guardian Ruin Reports
      summary: Update a GR Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateGRReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportGR'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGR'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Guardian Ruin Reports
      summary: Delete a GR Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeGRReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# GR Site

# GR Type

# GS Active Group

# GS Active Obelisk

# GS Artifact

# GS Codex Category

# GS Codex Data

# GS Obelisk

# GS Obelisk Group

# GS Obelisk Group Report
  /gsobeliskgroupreport/count:
    get:
      tags:
        - Guardian Structure Reports
      summary: Get a count of all GS Obelisk Group Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getGSOGReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /gsobeliskgroupreport:
    get:
      tags:
        - Guardian Structure Reports
      summary: Get a list of GS Obelisk Group Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getGSOGReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of GS Obelisk Group Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGSObeliskGroup'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Guardian Structure Reports
      summary: Post a new GS Obelisk Group Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitGSOGReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportGSObeliskGroup'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGSObeliskGroup'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /gsobeliskgroupreport/{id}:
    get:
      tags:
        - Guardian Structure Reports
      summary: Get a Single GS Obelisk Group Report
      description: Provide the ID to get a single report
      operationId: getGSOGReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the GS Obelisk Group Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGSObeliskGroup'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Guardian Structure Reports
      summary: Update a GS Obelisk Group Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateGSOGReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportGSObeliskGroup'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGSObeliskGroup'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Guardian Structure Reports
      summary: Delete a GS Obelisk Group Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeGSOGReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# GS Obelisk Report
  /gsobeliskreport/count:
    get:
      tags:
        - Guardian Structure Reports
      summary: Get a count of all GS Obelisk Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getGSOReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /gsobeliskreport:
    get:
      tags:
        - Guardian Structure Reports
      summary: Get a list of GS Obelisk Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getGSOReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of GS Obelisk Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGSObelisk'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Guardian Structure Reports
      summary: Post a new GS Obelisk Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitGSOReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportGSObelisk'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGSObelisk'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /gsobeliskreport/{id}:
    get:
      tags:
        - Guardian Structure Reports
      summary: Get a Single GS Obelisk Report
      description: Provide the ID to get a single report
      operationId: getGSOReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the GS Obelisk Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGSObelisk'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Guardian Structure Reports
      summary: Update a GS Obelisk Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateGSOReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportGSObelisk'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGSObelisk'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Guardian Structure Reports
      summary: Delete a GS Obelisk Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeGSOReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# GS Report
  /gsreport/count:
    get:
      tags:
        - Guardian Structure Reports
      summary: Get a count of all GS Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getGSReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /gsreport:
    get:
      tags:
        - Guardian Structure Reports
      summary: Get a list of GS Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getGSReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of GS Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGS'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Guardian Structure Reports
      summary: Post a new GS Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitGSReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportGS'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGS'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /gsreport/{id}:
    get:
      tags:
        - Guardian Structure Reports
      summary: Get a Single GS Report
      description: Provide the ID to get a single report
      operationId: getGSReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the GS Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGS'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Guardian Structure Reports
      summary: Update a GS Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateGSReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportGS'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGS'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Guardian Structure Reports
      summary: Delete a GS Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeGSReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# GS Site

# GS Type

# GY Report
  /gyreport/count:
    get:
      tags:
        - Geyser Reports
      summary: Get a count of all GY Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getGYReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /gyreport:
    get:
      tags:
        - Geyser Reports
      summary: Get a list of GY Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getGYReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of GY Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGY'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Geyser Reports
      summary: Post a new GY Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitGYReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportPlanetWithType'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGY'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /gyreport/{id}:
    get:
      tags:
        - Geyser Reports
      summary: Get a Single GY Report
      description: Provide the ID to get a single report
      operationId: getGYReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the GY Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGY'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Geyser Reports
      summary: Update a GY Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateGYReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportPlanetWithType'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGY'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Geyser Reports
      summary: Delete a GY Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeGYReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# GY Site

# GY Type

# HD Site

# Journal Data

# Location

# LS Report
  /lsreport/count:
    get:
      tags:
        - Lava Spout Reports
      summary: Get a count of all LS Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getLSReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /lsreport:
    get:
      tags:
        - Lava Spout Reports
      summary: Get a list of LS Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getLSReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of LS Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Lava Spout Reports
      summary: Post a new LS Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitLSReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportPlanet'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /lsreport/{id}:
    get:
      tags:
        - Lava Spout Reports
      summary: Get a Single LS Report
      description: Provide the ID to get a single report
      operationId: getLSReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the LS Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Lava Spout Reports
      summary: Update a LS Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateLSReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportPlanet'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Lava Spout Reports
      summary: Delete a LS Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeLSReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# LS Site
  /lssite/count:
    get:
      tags:
        - Lava Spouts
      summary: Get a count of all LS Sites
      description: The API will respond with just a number, which is the total amount of sites on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getLSSitesCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /lssite:
    get:
      tags:
        - Lava Spouts
      summary: Get a list of LS Sites
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getLSSites
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of LS Sites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Lava Spouts
      summary: Post a new LS Site
      description: To be used to add a new site to the Canonn database, these are sites verified by Canonn
      operationId: submitLSSite
      security:
        - canonnAuth: [siteWrite]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSitePlanet'
      responses:
        '200':
          description: Site post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /lssite/{id}:
    get:
      tags:
        - Lava Spouts
      summary: Get a Single LS Site
      description: Provide the ID to get a single site
      operationId: getLSSiteById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the LS Site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Lava Spouts
      summary: Update a LS Site
      description: You do not need to send the entire site again, you can send only changed fields
      operationId: updateLSSiteById
      security:
        - canonnAuth: [siteWrite]
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSitePlanet'
      responses:
        '200':
          description: Site update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Lava Spouts
      summary: Delete a LS Site
      description: The response is just an empty JSON, deleting a site requires auth
      operationId: removeLSSiteById
      security:
        - canonnAuth: [siteDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# MS Report
  /msreport/count:
    get:
      tags:
        - Megaship Reports
      summary: Get a count of all MS Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getMSReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

  /msreport:
    get:
      tags:
        - Megaship Reports
      summary: Get a list of MS Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getMSReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of MS Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportMS'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Megaship Reports
      summary: Post a new MS Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitMSReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportMS'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportMS'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /msreport/{id}:
    get:
      tags:
        - Megaship Reports
      summary: Get a Single MS Report
      description: Provide the ID to get a single report
      operationId: getMSReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the MS Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportMS'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Megaship Reports
      summary: Update a MS Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateMSReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportMS'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportMS'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Megaship Reports
      summary: Delete a MS Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeMSReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# MS Site

# MS Type

# Ring

# Ring Type

# System

# TB Report
  /tbreport/count:
    get:
      tags:
        - Thargoid Barnacle Reports
      summary: Get a count of all TB Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getTBReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
[...]
