# A Swagger 3.0.0 (a.k.a. OpenAPI) definition of the Engine API.
#
# Some style notes:
# - This file is used by ReDoc, which allows GitHub Flavored Markdown in
#   descriptions.
# - There is no maximum line length, for ease of editing and pretty diffs.
# - operationIds are in the format of "verb" + "noun".

openapi: "3.0.0"

## Information
info:
  version: 2.0.8
  title: Canonn APIv2
  x-logo:
    url: "./canonn-logo.png"
  description: |
    An API for all the Science related information Canonn has in its datastores stored on the Gnosis, built using [Strapi](https://strapi.io) a Nodejs API framework.

    # Documentation
    We have two different documentation types

    * [Redocs](./)
    * [Swagger-UI](./swaggerui)

    You can view our Swagger/OpenAPI on [CAPIv2-Swagger Github](https://github.com/canonn-science/CAPIv2-Swagger) and our API development [CAPIv2-Strapi Github](https://github.com/canonn-science/CAPIv2-Strapi).

    We also automatically build our current Development branch before deploying to the Alpha server, you can see our [Travis-CI](https://travis-ci.org/canonn-science/CAPIv2-Strapi) build status.

    # Servers

    We also have 3 API servers; Live (Production), Beta (Staging), Alpha (Development). You should use the Beta server for testing your application prior to using the Live server. The Alpha server is used by Canonn to test our changes prior to releasing a new version.

    Data between the Live and Beta servers are replicated as needed, eventually we plan to dynamically replicate the data every night at midnight Phoenix, Arizona USA time (MST-Arizona GMT-7)

    Server Name  | Server Type | Server URL | Server version
    ---------|---------|---------|---------
    Live | Production | https://api.canonn.tech | v2.0.7
    Beta | Production | https://api.canonn.tech:2053 | v2.0.7
    Alpha | Production | https://api.canonn.tech:2083 | v2.0.8

    Thank you for your support, and thank you to all the CMDRs who supply us with our data!

  contact:
    name: Canonn R&D Team
    email: rd@canonn.technology
    url: https://canonn.science
  license:
    name: MIT
    url: https://github.com/canonn-science/CAPIv2-Strapi/blob/development/LICENSE

## Servers
servers:
  - url: https://api.canonn.tech:2053
    description: Beta Staging Server, should be used to test your application prior to deployment. Data is mirrored from Production every few hours.
  - url: https://api.canonn.tech
    description: Live Production Server, should be used if your application has been tested and deployed
  - url: https://api.canonn.tech:2083
    description: Alpha Development Server, used by Canonn to test development prior to updating Staging and Production. Data here is likely to be wrong or inaccurate.

## Paths
paths:

# Authentication
  /auth/local:
    post:
      tags:
        - Local Auth
      summary: Login to the Canonn APIv2 Server
      description: Using local authentication to login to the API, user must already be registered
      operationId: loginLocal
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/localCreds'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authLocal'
        '400':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authError'

# BM Report
  /bmreport/count:
    get:
      tags:
        - Bark Mound Reports
      summary: Get a count of all BM Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getBMReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /bmreport:
    get:
      tags:
        - Bark Mound Reports
      summary: Get a list of BM Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getBMReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of BM Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Bark Mound Reports
      summary: Post a new BM Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitBMReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportPlanet'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /bmreport/{id}:
    get:
      tags:
        - Bark Mound Reports
      summary: Get a Single BM Report
      description: Provide the ID to get a single report
      operationId: getBMReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the BM Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Bark Mound Reports
      summary: Update a BM Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateBMReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportPlanet'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Bark Mound Reports
      summary: Delete a BM Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeBMReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# BM Site
  /bmsite/count:
    get:
      tags:
        - Bark Mounds
      summary: Get a count of all BM Sites
      description: The API will respond with just a number, which is the total amount of sites on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getBMSitesCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /bmsite:
    get:
      tags:
        - Bark Mounds
      summary: Get a list of BM Sites
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getBMSites
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of BM Sites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Bark Mounds
      summary: Post a new BM Site
      description: To be used to add a new site to the Canonn database, these are sites verified by Canonn
      operationId: submitBMSite
      security:
        - canonnAuth: [siteWrite]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSitePlanet'
      responses:
        '200':
          description: Site post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /bmsite/{id}:
    get:
      tags:
        - Bark Mounds
      summary: Get a Single BM Site
      description: Provide the ID to get a single site
      operationId: getBMSiteById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the BM Site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Bark Mounds
      summary: Update a BM Site
      description: You do not need to send the entire site again, you can send only changed fields
      operationId: updateBMSiteById
      security:
        - canonnAuth: [siteWrite]
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSitePlanet'
      responses:
        '200':
          description: Site update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Bark Mounds
      summary: Delete a BM Site
      description: The response is just an empty JSON, deleting a site requires auth
      operationId: removeBMSiteById
      security:
        - canonnAuth: [siteDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# Body
  /body/count:
    get:
      tags:
        - Bodies
      summary: Get a count of all Bodies
      description: The API will respond with just a number, which is the total amount of bodies on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getBodiesCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /body:
    get:
      tags:
        - Bodies
      summary: Get a list of Bodies
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getBodies
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of Bodies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getLocationBody'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Bodies
      summary: Post a new Body
      description: To be used to add a new body to the Canonn database
      operationId: submitBody
      security:
        - canonnAuth: [locationWrite]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postLocationBody'
      responses:
        '200':
          description: Body post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getLocationBody'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /body/{id}:
    get:
      tags:
        - Bodies
      summary: Get a Single Body
      description: Provide the ID to get a single body
      operationId: getBodyById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the Body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getLocationBody'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Bodies
      summary: Update a Body
      description: You do not need to send the entire site again, you can send only changed fields
      operationId: updateBodyById
      security:
        - canonnAuth: [locationWrite]
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putLocationBody'
      responses:
        '200':
          description: Body update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getLocationBody'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Bodies
      summary: Delete a Body
      description: The response is just an empty JSON, deleting a site requires auth
      operationId: removeBodyById
      security:
        - canonnAuth: [locationDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# BT Report
  /btreport/count:
    get:
      tags:
        - Brain Tree Reports
      summary: Get a count of all BT Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getBTReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /btreport:
    get:
      tags:
        - Brain Tree Reports
      summary: Get a list of BT Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getBTReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of BT Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Brain Tree Reports
      summary: Post a new BT Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitBTReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportPlanet'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /btreport/{id}:
    get:
      tags:
        - Brain Tree Reports
      summary: Get a Single BT Report
      description: Provide the ID to get a single report
      operationId: getBTReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the BT Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Brain Tree Reports
      summary: Update a BT Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateBTReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportPlanet'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Brain Tree Reports
      summary: Delete a BT Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeBTReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# BT Site
  /btsite/count:
    get:
      tags:
        - Brain Trees
      summary: Get a count of all BT Sites
      description: The API will respond with just a number, which is the total amount of sites on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getBTSitesCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /btsite:
    get:
      tags:
        - Brain Trees
      summary: Get a list of BT Sites
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getBTSites
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of BT Sites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Brain Trees
      summary: Post a new BT Site
      description: To be used to add a new site to the Canonn database, these are sites verified by Canonn
      operationId: submitBTSite
      security:
        - canonnAuth: [siteWrite]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSitePlanet'
      responses:
        '200':
          description: Site post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /btsite/{id}:
    get:
      tags:
        - Brain Trees
      summary: Get a Single BT Site
      description: Provide the ID to get a single site
      operationId: getBTSiteById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the BT Site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Brain Trees
      summary: Update a BT Site
      description: You do not need to send the entire site again, you can send only changed fields
      operationId: updateBTSiteById
      security:
        - canonnAuth: [siteWrite]
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSitePlanet'
      responses:
        '200':
          description: Site update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Brain Trees
      summary: Delete a BT Site
      description: The response is just an empty JSON, deleting a site requires auth
      operationId: removeBTSiteById
      security:
        - canonnAuth: [siteDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# CMDR
  /cmdr/count:
    get:
      tags:
        - CMDRs
      summary: Get a count of all CMDRs
      description: The API will respond with just a number, which is the total amount of CMDRs on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getCMDRsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /cmdr:
    get:
      tags:
        - CMDRs
      summary: Get a list of CMDRs
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getCMDRs
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of CMDRs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCMDR'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - CMDRs
      summary: Post a new CMDR
      description: To be used to add new CMDRs to our list, updated from reports submitted to us
      operationId: submitCMDR
      security:
        - userAuth: [cmdrWrite]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postCMDR'
      responses:
        '200':
          description: CMDR post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCMDR'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /cmdr/{id}:
    get:
      tags:
        - CMDRs
      summary: Get a Single CMDR
      description: Provide the ID to get a single CMDR
      operationId: getCMDRById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the CMDR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCMDR'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - CMDRs
      summary: Update a CMDR
      description: Used to update the CMDR name
      operationId: updateCMDRById
      security:
        - userAuth: [cmdrWrite]
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putCMDR'
      responses:
        '200':
          description: CMDR update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCMDR'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - CMDRs
      summary: Delete a CMDR
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeCMDRById
      security:
        - canonnAuth: [cmdrDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# Faction Kill Report
  /factionkillreport/count:
    get:
      tags:
        - CMDRs
      summary: Get a count of all Faction Kill Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getFactionKillReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /factionkillreport:
    get:
      tags:
        - CMDRs
      summary: Get a list of Faction Kill Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getFGReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of Faction Kill Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCMDRFactionKillReport'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - CMDRs
      summary: Post a new Faction Kill Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitFGReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postCMDRFactionKillReport'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCMDRFactionKillReport'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /factionkillreport/{id}:
    get:
      tags:
        - CMDRs
      summary: Get a Single Faction Kill Report
      description: Provide the ID to get a single report
      operationId: getFGReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the Faction Kill Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCMDRFactionKillReport'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - CMDRs
      summary: Update a Faction Kill Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateFGReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putCMDRFactionKillReport'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCMDRFactionKillReport'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - CMDRs
      summary: Delete a Faction Kill Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeFGReportById
      security:
        - canonnAuth: [cmdrDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# FG Report
  /fgreport/count:
    get:
      tags:
        - Fungal Gourd Reports
      summary: Get a count of all FG Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getFGReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /fgreport:
    get:
      tags:
        - Fungal Gourd Reports
      summary: Get a list of FG Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getFGReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of FG Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Fungal Gourd Reports
      summary: Post a new FG Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitFGReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportPlanet'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /fgreport/{id}:
    get:
      tags:
        - Fungal Gourd Reports
      summary: Get a Single FG Report
      description: Provide the ID to get a single report
      operationId: getFGReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the FG Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Fungal Gourd Reports
      summary: Update a FG Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateFGReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportPlanet'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportPlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Fungal Gourd Reports
      summary: Delete a FG Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeFGReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# FG Site
  /fgsite/count:
    get:
      tags:
        - Fungal Gourds
      summary: Get a count of all FG Sites
      description: The API will respond with just a number, which is the total amount of sites on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getFGSitesCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /fgsite:
    get:
      tags:
        - Fungal Gourds
      summary: Get a list of FG Sites
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getFGSites
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of FG Sites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Fungal Gourds
      summary: Post a new FG Site
      description: To be used to add a new site to the Canonn database, these are sites verified by Canonn
      operationId: submitFGSite
      security:
        - canonnAuth: [siteWrite]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSitePlanet'
      responses:
        '200':
          description: Site post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /fgsite/{id}:
    get:
      tags:
        - Fungal Gourds
      summary: Get a Single FG Site
      description: Provide the ID to get a single site
      operationId: getFGSiteById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the FG Site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Fungal Gourds
      summary: Update a FG Site
      description: You do not need to send the entire site again, you can send only changed fields
      operationId: updateFGSiteById
      security:
        - canonnAuth: [siteWrite]
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSitePlanet'
      responses:
        '200':
          description: Site update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSitePlanet'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Fungal Gourds
      summary: Delete a FG Site
      description: The response is just an empty JSON, deleting a site requires auth
      operationId: removeFGSiteById
      security:
        - canonnAuth: [siteDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# FM Report
  /fmreport/count:
    get:
      tags:
        - Fumarole Reports
      summary: Get a count of all FM Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getFMReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /fmreport:
    get:
      tags:
        - Fumarole Reports
      summary: Get a list of FM Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getFMReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of FM Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportFM'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Fumarole Reports
      summary: Post a new FM Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitFMReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportPlanetWithType'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportFM'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /fmreport/{id}:
    get:
      tags:
        - Fumarole Reports
      summary: Get a Single FM Report
      description: Provide the ID to get a single report
      operationId: getFMReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the FM Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportFM'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Fumarole Reports
      summary: Update a FM Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateFMReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportPlanetWithType'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportFM'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Fumarole Reports
      summary: Delete a FM Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeFMReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# FM Site
  /fmsite/count:
    get:
      tags:
        - Fumaroles
      summary: Get a count of all FM Sites
      description: The API will respond with just a number, which is the total amount of sites on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getFMSitesCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /fmsite:
    get:
      tags:
        - Fumaroles
      summary: Get a list of FM Sites
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getFMSites
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of FM Sites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteFM'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Fumaroles
      summary: Post a new FM Site
      description: To be used to add a new site to the Canonn database, these are sites verified by Canonn
      operationId: submitFMSite
      security:
        - canonnAuth: [siteWrite]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSiteFM'
      responses:
        '200':
          description: Site post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteFM'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /fmsite/{id}:
    get:
      tags:
        - Fumaroles
      summary: Get a Single FM Site
      description: Provide the ID to get a single site
      operationId: getFMSiteById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the FM Site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteFM'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Fumaroles
      summary: Update a FM Site
      description: You do not need to send the entire site again, you can send only changed fields
      operationId: updateFMSiteById
      security:
        - canonnAuth: [siteWrite]
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSiteFM'
      responses:
        '200':
          description: Site update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteFM'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Fumaroles
      summary: Delete a FM Site
      description: The response is just an empty JSON, deleting a site requires auth
      operationId: removeFMSiteById
      security:
        - canonnAuth: [siteDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# FM Type
  /fmsitetype/count:
    get:
      tags:
        - Fumaroles
      summary: Get a count of all FM Site Types
      description: The API will respond with just a number, which is the total amount of sites on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getFMSiteTypesCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /fmsitetype:
    get:
      tags:
        - Fumaroles
      summary: Get a list of FM Site Types
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getFMSiteTypes
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of FM Site Types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteFMType'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Fumaroles
      summary: Post a new FM Site Type
      description: To be used to add a new site type to the Canonn database
      operationId: submitFMSiteType
      security:
        - canonnAuth: [siteWrite]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSiteFMType'
      responses:
        '200':
          description: Site Type post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteFMType'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /fmsitetype/{id}:
    get:
      tags:
        - Fumaroles
      summary: Get a Single FM Site Type
      description: Provide the ID to get a single site
      operationId: getFMSiteTypeById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the FM Site Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteFMType'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Fumaroles
      summary: Update a FM Site Type
      description: The type should match those used by EDSM if appropriate
      operationId: updateFMSiteTypeById
      security:
        - canonnAuth: [siteWrite]
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSiteFMType'
      responses:
        '200':
          description: Site update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteFMType'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Fumaroles
      summary: Delete a FM Site Type
      description: The response is just an empty JSON, deleting a site type requires auth
      operationId: removeFMSiteTypeById
      security:
        - canonnAuth: [siteDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# GEN Report
  /genreport/count:
    get:
      tags:
        - Generation Ship Reports
      summary: Get a count of all GEN Reports
      description: The API will respond with just a number, which is the total amount of reports on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getGENReportsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /genreport:
    get:
      tags:
        - Generation Ship Reports
      summary: Get a list of GEN Reports
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getGENReports
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of GEN Reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGEN'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Generation Ship Reports
      summary: Post a new GEN Report
      description: To be used to submit new Reports to Canonn, note that the reportStatus should always be pending
      operationId: submitGENReport
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postReportGEN'
      responses:
        '200':
          description: Report post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGEN'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /genreport/{id}:
    get:
      tags:
        - Generation Ship Reports
      summary: Get a Single GEN Report
      description: Provide the ID to get a single report
      operationId: getGENReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the GEN Report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGEN'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Generation Ship Reports
      summary: Update a GEN Report
      description: You do not need to send the entire report again, you can send only changed fields
      operationId: updateGENReportById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putReportGEN'
      responses:
        '200':
          description: Report update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportGEN'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Generation Ship Reports
      summary: Delete a GEN Report
      description: The response is just an empty JSON, deleting a report requires auth
      operationId: removeGENReportById
      security:
        - canonnAuth: [reportDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# GEN Site
  /gensite/count:
    get:
      tags:
        - Generation Ships
      summary: Get a count of all GEN Sites
      description: The API will respond with just a number, which is the total amount of sites on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getGENSitesCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /gensite:
    get:
      tags:
        - Generation Ships
      summary: Get a list of GEN Sites
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getGENSites
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of GEN Sites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGEN'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Generation Ships
      summary: Post a new GEN Site
      description: To be used to add a new site to the Canonn database, these are sites verified by Canonn
      operationId: submitGENSite
      security:
        - canonnAuth: [siteWrite]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSiteGEN'
      responses:
        '200':
          description: Site post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGEN'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /gensite/{id}:
    get:
      tags:
        - Generation Ships
      summary: Get a Single GEN Site
      description: Provide the ID to get a single site
      operationId: getGENSiteById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the GEN Site
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGEN'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Generation Ships
      summary: Update a GEN Site
      description: You do not need to send the entire site again, you can send only changed fields
      operationId: updateGENSiteById
      security:
        - canonnAuth: [siteWrite]
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSiteGEN'
      responses:
        '200':
          description: Site update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGEN'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Generation Ships
      summary: Delete a GEN Site
      description: The response is just an empty JSON, deleting a site requires auth
      operationId: removeGENSiteById
      security:
        - canonnAuth: [siteDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# GR Active Group
  /gractivegroup/count:
    get:
      tags:
        - Guardian Ruins
      summary: Get a count of all GR Active Groups
      description: The API will respond with just a number, which is the total amount of sites on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getGRSiteActiveGroupsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /gractivegroup:
    get:
      tags:
        - Guardian Ruins
      summary: Get a list of GR Site Active Groups
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getGRSiteActiveGroups
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of GR Active Groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRActiveGroup'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Guardian Ruins
      summary: Post a new GR Site Active Group
      description: To be used to add a new site to the Canonn database, these are sites verified by Canonn
      operationId: submitGRSiteActiveGroup
      security:
        - canonnAuth: [siteWrite]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSiteGRActiveGroup'
      responses:
        '200':
          description: GR Site Active Group post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRActiveGroup'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /gractivegroup/{id}:
    get:
      tags:
        - Guardian Ruins
      summary: Get a Single GR Site Active Group
      description: Provide the ID to get a single site
      operationId: getGRSiteActiveGroupById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the GR Active Group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRActiveGroup'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Guardian Ruins
      summary: Update a GR Site Active Group
      description: Used to change the active group, be sure there are no duplicates
      operationId: updateGRSiteActiveGroupById
      security:
        - canonnAuth: [siteWrite]
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSiteGRActiveGroup'
      responses:
        '200':
          description: Active Group update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRActiveGroup'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Guardian Ruins
      summary: Delete a GR Site Active Group
      description: The response is just an empty JSON, deleting a site requires auth
      operationId: removeGRSiteActiveGroupById
      security:
        - canonnAuth: [siteDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# GR Active Obelisk
  /gractiveobelisk/count:
    get:
      tags:
        - Guardian Ruins
      summary: Get a count of all GR Active Obelisks
      description: The API will respond with just a number, which is the total amount of sites on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getGRSiteActiveObelisksCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /gractiveobelisk:
    get:
      tags:
        - Guardian Ruins
      summary: Get a list of GR Site Active Obelisks
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getGRSiteActiveObelisks
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of GR Active Obelisks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRActiveObelisk'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Guardian Ruins
      summary: Post a new GR Site Active Obelisk
      description: To be used to add a new site to the Canonn database, these are sites verified by Canonn
      operationId: submitGRSiteActiveObelisk
      security:
        - canonnAuth: [siteWrite]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSiteGRActiveObelisk'
      responses:
        '200':
          description: GR Site Active Obelisk post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRActiveObelisk'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /gractiveobelisk/{id}:
    get:
      tags:
        - Guardian Ruins
      summary: Get a Single GR Site Active Obelisk
      description: Provide the ID to get a single site
      operationId: getGRSiteActiveObeliskById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the GR Active Obelisk
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRActiveObelisk'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Guardian Ruins
      summary: Update a GR Site Active Obelisk
      description: Used to change the active obelisk, be sure there are no duplicates
      operationId: updateGRSiteActiveObeliskById
      security:
        - canonnAuth: [siteWrite]
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSiteGRActiveObelisk'
      responses:
        '200':
          description: Active Obelisk update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRActiveObelisk'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Guardian Ruins
      summary: Delete a GR Site Active Obelisk
      description: The response is just an empty JSON, deleting a site requires auth
      operationId: removeGRSiteActiveObeliskById
      security:
        - canonnAuth: [siteDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# GR Artifact
  /grartifact/count:
    get:
      tags:
        - Guardian Ruins
      summary: Get a count of all GR Site Artifacts
      description: The API will respond with just a number, which is the total amount of artifacts on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getGRArtifactsCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /grartifact:
    get:
      tags:
        - Guardian Ruins
      summary: Get a list of GR Site Artifacts
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getGRArtifacts
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of GR Site Artifacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRArtifact'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Guardian Ruins
      summary: Post a new GR Site Artifact
      description: To be used to add a new artifact to the Canonn database
      operationId: submitGRArtifact
      security:
        - canonnAuth: [siteWrite]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSiteGRArtifact'
      responses:
        '200':
          description: Site post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRArtifact'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /grartifact/{id}:
    get:
      tags:
        - Guardian Ruins
      summary: Get a Single GR Site Artifact
      description: Provide the ID to get a single artifact
      operationId: getGRArtifactById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the GR Site Artifact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRArtifact'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Guardian Ruins
      summary: Update a GR Site Artifact
      description: Used to update the artifact
      operationId: updateGRArtifactById
      security:
        - canonnAuth: [siteWrite]
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSiteGRArtifact'
      responses:
        '200':
          description: Site update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRArtifact'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Guardian Ruins
      summary: Delete a GR Site Artifact
      description: The response is just an empty JSON, deleting an artifact requires auth
      operationId: removeGRArtifactById
      security:
        - canonnAuth: [siteDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# GR Codex Category
  /grcodexcategory/count:
    get:
      tags:
        - Guardian Ruins
      summary: Get a count of all GR Site Codex Categories
      description: The API will respond with just a number, which is the total amount of codex categories on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getGRCodexCategoriesCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /grcodexcategory:
    get:
      tags:
        - Guardian Ruins
      summary: Get a list of GR Site Codex Categories
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getGRCodexCategories
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of GR Site Codex Categories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRCodexCategory'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Guardian Ruins
      summary: Post a new GR Site Codex Category
      description: To be used to add a new codex category to the Canonn database
      operationId: submitGRCodexCategory
      security:
        - canonnAuth: [siteWrite]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSiteGRCodexCategory'
      responses:
        '200':
          description: GR Site Codex Category post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRCodexCategory'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /grcodexcategory/{id}:
    get:
      tags:
        - Guardian Ruins
      summary: Get a Single GR Site Codex Category
      description: Provide the ID to get a single codex category
      operationId: getGRCodexCategoryById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the GR Site Codex Category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRCodexCategory'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Guardian Ruins
      summary: Update a GR Site Codex Category
      description: Used to update the codex category
      operationId: updateGRCodexCategoryById
      security:
        - canonnAuth: [siteWrite]
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSiteGRCodexCategory'
      responses:
        '200':
          description: Site update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRCodexCategory'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Guardian Ruins
      summary: Delete a GR Site Codex Category
      description: The response is just an empty JSON, deleting an codex category requires auth
      operationId: removeGRCodexCategoryById
      security:
        - canonnAuth: [siteDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# GR Codex Data
  /grcodexdata/count:
    get:
      tags:
        - Guardian Ruins
      summary: Get a count of all GR Site Codex Data
      description: The API will respond with just a number, which is the total amount of codex data on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getGRCodexDataCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /grcodexdata:
    get:
      tags:
        - Guardian Ruins
      summary: Get a list of GR Site Codex Data
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
      operationId: getGRCodexData
      security: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: A list of GR Site Codex Data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRCodexData'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
    post:
      tags:
        - Guardian Ruins
      summary: Post a new GR Site Codex Data
      description: To be used to add a new codex category to the Canonn database
      operationId: submitGRCodexData
      security:
        - canonnAuth: [siteWrite]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postSiteGRCodexData'
      responses:
        '200':
          description: GR Site Codex Data post successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRCodexData'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /grcodexdata/{id}:
    get:
      tags:
        - Guardian Ruins
      summary: Get a Single GR Site Codex Data
      description: Provide the ID to get a single codex category
      operationId: getGRCodexDataById
      security: []
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Found the GR Site Codex Data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRCodexData'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    put:
      tags:
        - Guardian Ruins
      summary: Update a GR Site Codex Data
      description: Used to update the codex category
      operationId: updateGRCodexDataById
      security:
        - canonnAuth: [siteWrite]
      parameters:
        - $ref: '#/components/parameters/byId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putSiteGRCodexData'
      responses:
        '200':
          description: Site update successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSiteGRCodexData'
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

    delete:
      tags:
        - Guardian Ruins
      summary: Delete a GR Site Codex Data
      description: The response is just an empty JSON, deleting an codex category requires auth
      operationId: removeGRCodexDataById
      security:
        - canonnAuth: [siteDelete]
      parameters:
        - $ref: '#/components/parameters/byId'
      responses:
        '200':
          description: Delete Successful
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'

# GR Obelisk
  /grobelisk/count:
    get:
      tags:
        - Guardian Ruins
      summary: Get a count of all GR Site Obelisks
      description: The API will respond with just a number, which is the total amount of obelisks on this endpoint. This can be used to filter, limit, or page other get requests.
      operationId: getGRObelisksCount
      security: []
      responses:
        '200':
          description: Total count of all entries in plain text
          content:
            text/plain:
              schema:
                type: integer
                example: 42
        '400':
          $ref: '#/components/responses/error400'
        '403':
          $ref: '#/components/responses/error403'
        '404':
          $ref: '#/components/responses/error404'
        '500':
          $ref: '#/components/responses/error500'
  /grobelisk:
    get:
      tags:
        - Guardian Ruins
      summary: Get a list of GR Site Obelisks
      description: By default limited to the first 100 entries. Use filters, searching, or paging to get specific entries.
[...]
