{
  "defaultConnection": "default",
  "connections": {
    "default": {
      "connector": "strapi-hook-bookshelf",
      "settings": {
        "client": "mysql",
        "host": "127.0.0.1",
        "port": 3306,
        "database": "exampledatabase",
        "username": "exampleuser",
        "password": "examplepassword"
      },
      "options": {
        "ssl": false,
        "acquireConnectionTimeout": 100000
      }
    }
  }
}
